openapi: 3.0.3
info:
  title: Azure Synapse Analytics Spark Pools SQL Pools API
  description: REST API for managing Azure Synapse Analytics workspaces, SQL pools, Apache Spark pools, and data integration pipelines.
  version: '2021-06-01'
  x-generated-from: documentation
servers:
- url: https://management.azure.com
  description: Azure Resource Manager
security:
- azure_auth:
  - user_impersonation
tags:
- name: SQL Pools
  description: Manage dedicated SQL pools
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/sqlPools
  : get:
      operationId: SqlPools_ListByWorkspace
      summary: Azure Synapse List SQL Pools
      description: List SQL pools in a workspace.
      tags:
      - SQL Pools
      parameters:
      - name: subscriptionId
        in: path
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      - name: resourceGroupName
        in: path
        required: true
        schema:
          type: string
        example: my-resource-group
      - name: workspaceName
        in: path
        required: true
        schema:
          type: string
        example: my-synapse-workspace
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        example: '2021-06-01'
      responses:
        '200':
          description: List of SQL pools
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlPoolInfoListResult'
              examples:
                SqlPools_ListByWorkspace200Example:
                  summary: Default SqlPools_ListByWorkspace 200 response
                  x-microcks-default: true
                  value:
                    id: example-id
                    name: example
                    provisioningState: Succeeded
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    SqlPoolInfoListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/SqlPool'
        nextLink:
          type: string
    SqlPool:
      type: object
      description: A SQL pool resource.
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
        location:
          type: string
        tags:
          type: object
          additionalProperties:
            type: string
        sku:
          type: object
          properties:
            tier:
              type: string
            name:
              type: string
            capacity:
              type: integer
        properties:
          type: object
          properties:
            provisioningState:
              type: string
              readOnly: true
            status:
              type: string
              readOnly: true
            restorePointInTime:
              type: string
              format: date-time
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: Impersonate your user account
