openapi: 3.0.3
info:
  title: Azure Synapse Analytics Spark Pools API
  description: REST API for managing Azure Synapse Analytics workspaces, SQL pools, Apache Spark pools, and data integration pipelines.
  version: '2021-06-01'
  x-generated-from: documentation
servers:
- url: https://management.azure.com
  description: Azure Resource Manager
security:
- azure_auth:
  - user_impersonation
tags:
- name: Spark Pools
  description: Manage Apache Spark pools
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/bigDataPools
  : get:
      operationId: BigDataPools_ListByWorkspace
      summary: Azure Synapse List Spark Pools
      description: List Apache Spark pools in a workspace.
      tags:
      - Spark Pools
      parameters:
      - name: subscriptionId
        in: path
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      - name: resourceGroupName
        in: path
        required: true
        schema:
          type: string
        example: my-resource-group
      - name: workspaceName
        in: path
        required: true
        schema:
          type: string
        example: my-synapse-workspace
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        example: '2021-06-01'
      responses:
        '200':
          description: List of Spark pools
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BigDataPoolResourceInfoListResult'
              examples:
                BigDataPools_ListByWorkspace200Example:
                  summary: Default BigDataPools_ListByWorkspace 200 response
                  x-microcks-default: true
                  value:
                    id: example-id
                    name: example
                    provisioningState: Succeeded
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    BigDataPoolResourceInfoListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/BigDataPool'
        nextLink:
          type: string
    BigDataPool:
      type: object
      description: An Apache Spark pool resource.
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
        location:
          type: string
        properties:
          type: object
          properties:
            provisioningState:
              type: string
              readOnly: true
            nodeCount:
              type: integer
            nodeSize:
              type: string
              enum:
              - Small
              - Medium
              - Large
              - XLarge
              - XXLarge
              - XXXLarge
            sparkVersion:
              type: string
            autoScaleProperties:
              type: object
              properties:
                minNodeCount:
                  type: integer
                maxNodeCount:
                  type: integer
                enabled:
                  type: boolean
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: Impersonate your user account
